@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: var(--foreground);
  background: url("/image.png");
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  width: 8px;  
  height: 8px;             /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 21, 21);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(221, 33, 33);  /* creates padding around scroll thumb */
}